/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color:blue;
  color: white;
  margin: 10px;
  width: 30%;
  margin-left: 35rem;
  margin-top: 10rem;
  border-radius: 10px;

} */